{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>404</title>

    <link rel="stylesheet" type="text/css" href="{% static '/css/m13.css' %}">

</head>
<body>
    <p align="center">
        &#128293; 404 diggi &#128293;
    </p>

    <p align="center">
        &#128293; TNC &#128293; BEST COUPLE IN TOWN &#128293;
    </p>
  </body>
</html>
